body {
    background: #e5e5e5;
    color: #25282B;
    text-align: center;
}

p{
    font-size: 12px;
}
button {
    border: none;
    font-weight: bold;
    background: none;
    color: #ff5E84;
}
.fat {
    color: white;
    background: #ff5E84;
}
#footer{
    text-align: left;
}

#footer a {
    color: #25282B;
    text-decoration: none;
}
.hide{
    display: none;
}