/*o site css tricks tem muito conteúdo de como fazer coisas no css*/
body {
    background: #e5e5e5;
    color: #25282B;
    margin: 0;

     /* Adicionando a fonte montserrat do google na minha página */
    font-family: 'Montserrat', sans-serif;
}

p,.description{
    /* Aqui estou formatando as fontes do documento */
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
}

.hide{
    display: none;
}

a:hover{
    color: #ff5E84;
    font-weight: bold;
    text-decoration: none;
}
a {
    color: #ff5E84;
    text-decoration: none;
}


/*Estamos estilizando o conteúdo do nosso container*/
#container{
    width: 90%; /* Colocando o width aqui e em porcentagem ele define que a largura do container será 90% da pagina*/
    max-width: 1024px; /*Aqui definimos que o tamanho máximo do nosso conteúdo será 980px*/

    /*definindo margin-right e margin-left como automático estamos centralizando o conteúdo da nossa página*/
    margin: 40px auto;

    /*Posiciona os elementos filhos do container lado a lado*/
    display: flex;

}

#intro{
    width: 300px;
    margin-right: 20px;
}

#buttons {
    margin-bottom: 32px;
    display: flex;
    justify-content: space-evenly;
}

#footer{
    text-align: left;
}
#main{
    /* 
        aqui estamos agrupando a definição da margin
        margin: top right bottom left margin: 10px 12px 10px 12px
        margin: top-bottom right-left margin: 10px 0px

    */
    margin: 32px 0;
}
/* colocando uma virgula entre seletores css podemos aplicar estilos semelhates em vários seletores como em um grupo */
footer {
    text-align: center;
}

p{
    font-size: 12px;
}
button {
    border: none;
    background: none;
    color: #ff5E84;
    
    cursor: pointer; /*mostra um ponteiro quando o usuário passar o mouse em cima de um selemento*/
    
    outline: none; /*Remove a borda azulada que fica em volta do botão quando ele for clicado*/
    
    /* formatando a fonte dos meus botões */
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;

}
button:hover{
    /* altera a propriedade hover de todos os botoes da página para mostrar um sublinhado*/
    text-decoration: underline;
}
button.fat:hover{
    /*sobrescreve o hover que é aplicado a todos os botões para que no botão fat ele não sublinhe*/
    text-decoration: none;
}
.fat {
    color: white;
    background: #ff5E84;

    width: 150px;
    height: 40px;

    border-radius: 6%;

    box-shadow: 0px 8px 16px rgba(255, 0, 92, 0.16);
}

.idea {
    display: flex;
    
    background-color: white;
    border-radius: 32px;
    border-radius: 0px 4px 16px -8px rgba(1,1,1,0.1);
    
    padding: 32px;
    
    margin-bottom: 32px;
}

.idea img{
    width: 60px;
    height: 60px;
    margin-right: 32px;
}

.idea h3{
    margin: 0;
}

.idea p {
    margin: 8px 0;
    color:  #777;
}

.idea .description{
    margin: 16px 0;
}

footer{
        /* formatando a fonte do footer */
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.2px;
        color: #777;
}

footer a {
    opacity: 0.7;
}

/* Modal */

#modal{
    background-color: #ff5E84;
    
    position: absolute;
    top:0;

    /* Aqui estou definindo que o modal irá ocupar 100% da área visível do meu dispositivo */
    width: 100vw;
    height: 100vw;

    /* Posiciona os elementos no centro da tela */
    display: flex;
    justify-content: center;

       
    transition: 400ms;
}

/* Aqui estamos deixando claro que só vamos alterar a classe content dentro do modal, caso haja outra classe content ela nao será modificada */
#modal .content{
    margin-top: 128px;
    color: white;
}

#modal .content h1{
    text-align: center;
    /* transformo todos os textos h1 em caixa alta */
    text-transform: uppercase;
}

#modal form{
    width: 80%;
    max-width: 800px;

    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr 1fr;
    /* o que GAP faz? */
    gap: 20px;
}

#modal .content form div:nth-child(3){
    /* aqui estou pegando a terceira div e fazendo ela ocupar as duas colunas do grid */
    grid-column: span 2;
}
#modal form input, form textarea{
    width: 100%;

    padding: 12px;
    box-sizing: border-box;

    border-radius: 6px;
    border: 1px solid rgba(141,35,52,0.5);

    outline: none;

    font-size: 16px;
}

#modal form label{
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.0.8px;
}
#modal form a {
    background-color: #ffffff22;
    color: white;

    /* configuracão do display do "botão" */
    display: flex;
    align-items: center;
    justify-content: center;

    width: 150px;
    height: 40px;

    font-size: 14px;
    font-weight: bold;

    border-radius: 6px;
    /* configuracao do display do grid*/
    align-self: end;

    
    transition: 400ms;

}
#modal form a:hover{
    color: #ff5E84;
    background: #fff;
    
    text-decoration: none;
}
#modal form button{
    background: white;
    width: 150px;
    height: 40px;

    border-radius: 6px;

    cursor: pointer;
    
    /* Coloca o botao na segunda coluna */
    grid-column: 2;
    justify-self: end;

    transition: 400ms;

}


#modal form button:hover{
    background-color: #0984e3;
    color:white;
    text-decoration: none;

}

#modal.hide{
    opacity: 0;
    visibility: hidden;

}